#game-container {
   width: 100vw;
   height: 100vh;

   display: flex;
   flex-direction: column;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    background-image: url("./components/images/background.png");
    border-bottom: 7px solid gray;

    h1 {
        background-color: white;
        width: fit-content;
        font-size: 2.5rem;
        text-decoration: underline;
        cursor: pointer;
    }


}

#game-type {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    h1 {
        text-align: center;
        text-decoration: underline;
    }

    input {
        background-color: none;
        font-size: 1.7rem;
        text-align: center;
        padding: 0;
        width: 50px;
        height: 35px;
        border: none;
        font-weight: bold;
        border-bottom: 3px solid black;
    }

    input::placeholder {
        color: black;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number]{
        -moz-appearance: textfield;
    }
}

#gameplay {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr .2fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "player indicator cpu"; 

    padding: 3.2% 5% 3.2% 5%;
    align-items: start;
}
.player { 
    grid-area: player; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.indicator { 
    grid-area: indicator;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 50%;
   

    img {
        width: 125px;
        height: 125px;
    }

}
.cpu, .user2 { 
    grid-area: cpu; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gameplay-icons {
    width: 300px;
    height: 250px;
    border-radius: 20%;
}

.gameplay-actions {

    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    button {
        width: 250px;
        height: 100px;

        border-radius: 10px;
        border: none;

        font-size: 2rem;
        transition: transform 0.7s ease-out;
    }

}

#start, #play-again {
    background-color: rgb(64, 182, 255);
    border: 10px solid rgb(39, 172, 255);
    box-shadow: 0px 5px 0px 5px lightgray;
}

#restart, #main-menu {
    background-color: rgb(255, 62, 62);
    border: 10px solid rgb(255, 22, 22);
    box-shadow: 0px 5px 0px 5px lightgray;
}

#start:hover, #restart:hover, #play-again:hover, #main-menu:hover {
    transform: translateY(2%);
}

#start:active, #restart:active, #play-again:active, #main-menu:active {
    transform: translateY(10%);
    box-shadow: none;
}

.collapse {
    display: none;
}

@keyframes upAndDown {
    
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20%);
    }


}

.animate-hands {

    animation-name: upAndDown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 4;  
    animation-play-state: running;


}

#winning-overlay {

   position: fixed;
   width: 100vw;
   height: 100vh;
   z-index: 100%;
   background-color: rgba(211, 211, 211, 0.500);


}

#winning-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    width: 30vw;
    height: 40vh;
    background-color: white;

    border-radius: 5%;
}

#winning-message {
    text-align: center;

    h1 {
        font-size: 3rem;
        padding: 0;
        margin: 5%;
    }
}

.exit-actions {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    button {
        width: 250px;
        height: 100px;

        border-radius: 10px;
        border: none;

        font-size: 2rem;
        transition: transform 0.7s ease-out;
    }
}

.user-moves {

    display: flex;
    justify-content: space-around;
    width: 300px;
    
    button:active {
        transform: translateY(10%);
        box-shadow: none;
    }



}

.user-move-button {
    font-size: 1.2rem;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 0px 5px 0px 3px lightgray;
    transition: transform .5s ease-in-out;
    border: none;
}

.rock {
    background-color: #207bff;
}

.paper {
    background-color: #4ea5ff;
}

.scissors {
    background-color: #7bb9fc;
}

.rock-2 {
    background-color: #ff2020;
}

.paper-2 {
    background-color: #ff4e4e;
}

.scissors-2 {
    background-color: #fc7b7b;
}

.selected {
    transform: translateY(10%);
    box-shadow: none;
}

